.contatos_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 5% ;
    gap: 2rem;
}

.contatos_container h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary-color);
    text-align: center;
    border-bottom: 2px solid var(--gold-color);
    align-self: center;
}

.form_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}


@media screen and (min-width: 1024px) {
    .contatos_container {
        padding: 9% 5% 5% 5%;
    }
}

@media screen and (min-width: 1920px) {
    .contatos_container {
        padding: 8% 5% 5% 5%;
    }

    .contatos_container h3 {
        font-size: 30px;
    }
}