.swiper_text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    padding: 3rem 3rem;
    min-height: 350px;
    cursor: grab;
}

.swiper_slide img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.swiper_slide h4{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-primary-color);
    cursor: pointer;
}

.swiper_slide span {
    color: var(--gold-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

.swiper_slide p{
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .swiper_slide h4{
        font-size: 18px;
    }

    .swiper_text p{
        font-size: 14px;
    }
}

