.fade-in {
  opacity: 0;
  filter: blur(12px);
  transform: translateY(80px) scale(0.9);
  transition:
    opacity .5s cubic-bezier(0.25, 1, 0.5, 1),
    transform 1s cubic-bezier(0.25, 1, 0.5, 1),
    filter .5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0) scale(1);
}
