.home_container {
    width: 100vw;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section_two {
    padding: 0 5% 10% 5%;
    background-color: var(--gray-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section_two_title {
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary-color);
    text-align: center;
    padding: 2rem 0 0 0;
    border-bottom: 2px solid var(--gold-color);
}

.section_two .line {
    width: 50%;
    height: 2px;
    background-color: var(--gold-color);
    margin: 1rem 0;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--white-primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


.card_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card_text h4 {
    font-size: 20px;
    color: var(--black-primary-color);
}

.card_text p {
    font-size: 16px;
    color: var(--black-primary-color);
}

.section_three {
    padding: 5% 5%;
}

.section_three_swiper {
    background-color: var(--white-primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section_four {
    padding: 0 5% 5% 5%;
    background-color: var(--gray-primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_four h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary-color);
    text-align: center;
    padding: 2rem 0 0 0;
}

.section_four span {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--gold-color);
}

.section_four_swiper_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_four_swiper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section_four_swiper p {
    font-size: 20px;
    width: 25%;
    text-align: center;
    border-bottom: 2px solid var(--gold-color);
    padding-bottom: 0.1rem;
}

.section_four_ver_mais {
    width: 100%;
}

.section_four_ver_mais p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--black-primary-color);
    cursor: pointer;
}

.section_four_ver_mais span {
    color: var(--gold-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.section_five {
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_five_title{
    display: flex;
    justify-content: center;
}

.section_five h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary-color);
    text-align: center;
    padding: 2rem 0 0 0;
    border-bottom: 2px solid var(--gold-color);
    align-self: center;
}

.section_five .line {
    align-self: center;
    width: 95%;
    height: 2px;
    background-color: var(--gold-color);
}

.section_five_swiper {
    background-color: var(--white-primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section_five_ver_mais {
    width: 100%;
}

.section_five_ver_mais p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--black-primary-color);
    cursor: pointer;
}

.section_five_ver_mais span {
    color: var(--gold-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.section_six {
    padding: 0 5% 5% 5%;
    background-color: var(--gray-primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_six h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary-color);
    text-align: center;
    padding: 2rem 0 0 0;
}

.section_six h3 span {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--gold-color);
}

.section_six p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-primary-color);
}

.section_six p span {
    color: var(--gold-color);
    font-weight: 500;
}

.section_six_saiba_mais {
    text-align: center;
    font-size: 20px !important;
    font-weight: 400;
    color: var(--black-primary-color);
    cursor: pointer;
}

.section_six_saiba_mais span {
    color: var(--gold-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.section_seven {
    padding: 2rem 5% 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_seven a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--gold-color);
    cursor: pointer;
}

.section_seven a:hover {
    text-decoration: underline;
}

.section_eight {
    padding: 5% 5% 5% 5%;
    background-color: var(--gray-primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section_eight_swiper {
    background-color: var(--white-primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section_eight_line {
    width: 100%;
    height: 30px;
    background-color: var(--gold-color);
    border-radius: 5px 5px 0 0;
}

.line{
    width: 100% !important;
    height: 30px !important ;
    background-color: var(--gold-color) !important;
    border-radius: 5px 5px 0 0 ! important;
}

/* Notebooks e desktops pequenos (a partir de 1024px) */
@media screen and (min-width: 1024px) {
    .home_container {
        padding: 4% 0 0 0;
        gap: 0;
    }

    .section_two {
        padding: 3% 5%;
    }

    .section_two_title {
        padding: 0;
        font-size: 24px;
    }

    .section_two .line {
        width: 65%;
        margin: 0rem 0 2rem 0;
    }

    .cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        padding: 1rem;
        gap: .5rem;
    }

    .card_text{
        gap: .5rem;
    }

    .card_text h4{
        font-size: 18px;
    }

    .card_text p {
        font-size: 14px;
    }

    .section_four {
        padding: 0 5% 3% 5%;
    }

    .section_four h3 {
        font-size: 24px;
    }

    .section_four span {
        padding: 0;
    }

    .section_four_swiper_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section_four_swiper p {
        font-size: 16px;
        width: 15%;
    }

    .section_four_ver_mais p{
        font-size: 18px;
    }

    .section_five {
        padding: 0 5% 3% 5%;
    }

    .section_five h3 {
        font-size: 24px;
    }

    .section_five .line {
        width: 25%;
    }

    .section_five_ver_mais p{
        font-size: 18px;
    }

    .group_section {
        display: flex;
        flex-direction: row;
    }

    .section_six {
        justify-content: center;
        padding: 0 5%;
    }

    .section_six h3 {
        font-size: 24px;
    }

    .section_six h3 span {
        padding: 0;
    }

    .section_six p {
        font-size: 16px;
    }

    .section_six_saiba_mais{
        font-size: 18px !important;
    }

    .section_seven {
        padding: 3% 5%;
        justify-content: center;
    }

    .section_seven a {
        font-size: 18px;
    }
}

/* Monitores 2K e superiores (a partir de 1920px) */
@media screen and (min-width: 1920px) {
    .home_container {
        padding: 3% 0 0 0;
        gap: 0;
    }

    .section_two_title {
        font-size: 30px;
    }

    .section_two .line {
        width: 60%;
    }

    .card {
        padding: 2rem;
        gap: 2rem;
    }

    .section_four h3 {
        font-size: 30px;
    }

    .section_four_swiper p {
        width: 10%;
    }

    .section_five h3 {
        font-size: 30px;
    }


    .section_six h3 {
        font-size: 30px;
    }
}