.depoimentos_container {
    padding: 5%;
}

.swiper_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.depoimentos_container button {
    width: 80%;
    padding: .6rem 2rem;
    border: 1px solid var(--gold-color);
    /* Primeira borda */
    background-color: var(--gold-color);
    color: var(--white-primary-color);
    font-size: 14px;
    cursor: pointer;
    position: relative;
    align-self: center;
}

.depoimentos_container button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--gold-color);
    /* Segunda borda */
}

.depoimentos_container button:hover {
    background-color: var(--white-primary-color);
    color: var(--gold-color);
}

.swiper_container{
    background-color: var(--white-primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.line {
    width: 100%;
    height: 30px;
    background-color: var(--gold-color);
    border-radius: 5px 5px 0 0;
}

@media screen and (min-width: 1024px) {
    .depoimentos_container{
        padding: 10% 5% 5% 5%;
    }

    .depoimentos_container button{
        width: 25%;
    }
}

@media screen and (min-width: 1920px) {
    .depoimentos_container{
        padding: 8% 5% 5% 5%;
    }
}