@media screen and (max-width: 1023px) {
    .quadrados {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: -1;
    }

    .quadrado {
        position: absolute;
        border: 2px solid #bbb;
        opacity: 0.3;
    }

    .quadrado:nth-child(1) {
        width: 150px;
        height: 150px;
        top: 32%;
        left: 10%;
    }

    .quadrado:nth-child(2) {
        width: 150px;
        height: 150px;
        top: 22%;
        left: 20%;
    }

    .quadrado:nth-child(3) {
        width: 100px;
        height: 100px;
        top: 50%;
        left: 70%;
    }

    .quadrado:nth-child(4) {
        width: 100px;
        height: 100px;
        top: 55%;
        left: 60%;
    }


    .quadrado:nth-child(5) {
        width: 100px;
        height: 100px;
        top: 80%;
        left: 30%;
    }

    .quadrado:nth-child(6) {
        width: 100px;
        height: 100px;
        top: 85%;
        left: 20%;
    }

    /*
    .quadrado:nth-child(7) {
        width: 200px;
        height: 200px;
        top: 40%;
        left: 70%;
    }

    .quadrado:nth-child(8) {
        width: 200px;
        height: 200px;
        top: 55%;
        left: 65%;
    }

    .quadrado:nth-child(9) {
        width: 100px;
        height: 100px;
        top: 25%;
        left: 97%;
    }

    .quadrado:nth-child(10) {
        width: 100px;
        height: 100px;
        top: 30%;
        left: 94%;
    } */
}

@media screen and (min-width: 1024px) {
    .quadrados {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: -1;
    }

    .quadrado {
        position: absolute;
        border: 2px solid #bbb;
        opacity: 0.3;
    }

    .quadrado:nth-child(1) {
        width: 200px;
        height: 200px;
        top: 30%;
        left: 1%;
    }

    .quadrado:nth-child(2) {
        width: 200px;
        height: 200px;
        top: 20%;
        left: 5%;
    }

    .quadrado:nth-child(3) {
        width: 100px;
        height: 100px;
        top: 70%;
        left: 20%;
    }

    .quadrado:nth-child(4) {
        width: 100px;
        height: 100px;
        top: 75%;
        left: 18%;
    }

    .quadrado:nth-child(5) {
        width: 150px;
        height: 150px;
        top: 27%;
        left: 50%;
    }

    .quadrado:nth-child(6) {
        width: 150px;
        height: 150px;
        top: 35%;
        left: 46%;
    }

    .quadrado:nth-child(7) {
        width: 200px;
        height: 200px;
        top: 40%;
        left: 70%;
    }

    .quadrado:nth-child(8) {
        width: 200px;
        height: 200px;
        top: 55%;
        left: 65%;
    }

    .quadrado:nth-child(9) {
        width: 100px;
        height: 100px;
        top: 25%;
        left: 97%;
    }

    .quadrado:nth-child(10) {
        width: 100px;
        height: 100px;
        top: 30%;
        left: 94%;
    }
}

@media screen and (min-width: 1920px) {
    .quadrado {
        position: absolute;
        border: 2px solid #bbb;
        opacity: 0.3;
    }

    .quadrado:nth-child(1) {
        width: 200px;
        height: 200px;
        top: 22%;
        left: 1%;
    }

    .quadrado:nth-child(2) {
        width: 200px;
        height: 200px;
        top: 17%;
        left: 5%;
    }

    .quadrado:nth-child(3) {
        width: 100px;
        height: 100px;
        top: 70%;
        left: 20%;
    }

    .quadrado:nth-child(4) {
        width: 100px;
        height: 100px;
        top: 75%;
        left: 18%;
    }

    .quadrado:nth-child(5) {
        width: 150px;
        height: 150px;
        top: 17%;
        left: 45%;
    }

    .quadrado:nth-child(6) {
        width: 150px;
        height: 150px;
        top: 25%;
        left: 41%;
    }

    .quadrado:nth-child(7) {
        width: 200px;
        height: 200px;
        top: 40%;
        left: 65%;
    }

    .quadrado:nth-child(8) {
        width: 200px;
        height: 200px;
        top: 50%;
        left: 60%;
    }

    .quadrado:nth-child(9) {
        width: 100px;
        height: 100px;
        top: 15%;
        left: 97%;
    }

    .quadrado:nth-child(10) {
        width: 100px;
        height: 100px;
        top: 20%;
        left: 94%;
    }
}