.faq_container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.faq_container h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--black-primary-color);
  text-align: center;
  border-bottom: 2px solid var(--gold-color);
  align-self: center;
}

.faq_item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq_question {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.faq_question:hover {
  background-color: #d4d4d4;
}

.faq_answer {
  padding: 0 10px;
  font-size: 14px;
  background-color: #e9e9e9;
  border-radius: 5px;
  margin-top: 5px;
  max-height: 0; /* Começa com a altura máxima 0 */
  overflow: hidden; /* Esconde o conteúdo */
  transition: max-height .3s ease, padding .3s ease; /* Aumenta o tempo para 2s */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq_answer.open {
  max-height: 500px; /* Um valor alto para garantir que a resposta se expanda completamente */
  padding: 10px; /* Adiciona o padding quando expandido */
}

.faq_answer p {
  margin: 0;
}

.faq_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .faq_container {
    padding: 9% 5% 5% 5%;
  }

  .faq_list{
    width: 70%;
  }
}

@media screen and (min-width: 1920px) {
  .faq_container {
    padding: 8% 5% 5% 5%;
  }

  .faq_container h3 {
    font-size: 30px;
  }
}