.swiper_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3rem 3rem;
    gap: .5rem;
    min-height: 350px;
    cursor: grab;
}

.swiper_slide h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-primary-color);
    cursor: pointer;
}

.swiper_slide p {
    font-size: 12px;
    align-self: flex-start;
}

@media screen and (min-width: 1024px) {
    .swiper_text {
        padding: 2rem 3rem;
    }

    .swiper_slide h4 {
        font-size: 18px;
    }

    .swiper_slide p {
        font-size: 12px;
    }

}