.header_container {
    width: 100vw;
    height: 20vh;
    background-color: var(--gray-primary-color);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.menu_icon {
    position: absolute;
    right: 2rem;
}

.header img {
    width: 150px;
}

.menu_icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 11;
}

.menu_icon span {
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu_icon.open{
    position: fixed;
}

.menu_icon.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu_icon.open span:nth-child(2) {
    opacity: 0;
}

.menu_icon.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.menu {
    position: absolute;
    top: -100%;
    /* Começa fora da tela */
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-primary-color);
    transition: top 0.5s ease-in-out;
    /* Transição suave de 0.5s */
    z-index: 10;
    /* Garante que o menu fique acima dos outros elementos */
}

.menu.open {
    top: 0;
    /* Quando o menu estiver aberto, ele fica na posição 0 */
    position: fixed;
}

.menu a {
    text-decoration: none;
    color: #333;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.menu a:hover {
    color: #555;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.menu li {
    list-style: none;
}


/* Quando o link estiver ativo */
.active {
    color: var(--gold-color) !important;
    border-bottom: 1px solid var(--gold-color);
}
/* Notebooks e desktops pequenos (a partir de 1024px) */
@media screen and (min-width: 1024px) {
    .header_container_desktop {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 5%;  
        background-color: var(--gray-primary-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .header_container_desktop img {
        width: 130px;
        cursor: pointer;
    }

    .menu_desktop ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .menu_desktop li {
        list-style: none;
    }

    .menu_desktop a {
        text-decoration: none;
        color: var(--black-primary-color);
        margin: 1rem 0;
        font-size: 1rem;
        position: relative;
        transition: color .3s ease-in-out;
    }

    .menu_desktop a::after {
        content: ""; /* Cria um pseudo-elemento */
        position: absolute; /* Permite posicionamento independente */
        left: 0;
        bottom: -1px; /* Posiciona o sublinhado abaixo do texto */
        width: 100%; /* Faz o sublinhado ocupar toda a largura do link */
        height: 1px; /* Define a espessura do sublinhado */
        background-color: var(--gold-color); /* Cor do sublinhado */
        transform: scaleX(0); /* Inicialmente, o sublinhado está invisível */
        transform-origin: left; /* A animação começa da esquerda */
        transition: transform 0.3s ease-in-out; /* Suaviza a animação */
    }    

    .menu_desktop a:hover {
        color: var(--gold-color); /* Muda a cor do texto */
    }
    
    .menu_desktop a:hover::after {
        transform: scaleX(1); /* Expande o sublinhado na horizontal */
    }   
}
