.swiper_slide{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    height: 630px;
}

.swiper_slide img{
    width: 100%;
    height: 20%;
    object-fit: cover;
}

.swiper_text{
    display: flex;
    flex-direction: column;
    padding: 0 2.6rem 2rem 2.6rem;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    cursor: grab;
    border-radius: 5px;
    flex-grow: 1;
}

.swiper_text h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--black-primary-color);
    border-bottom: 2px solid var(--gold-color);
    z-index: 1;
}

.swiper_type{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 1;
}

.swiper_slide p{
    font-size: 16px;
    z-index: 1;
}

.swiper_subtext{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media screen and (min-width: 1024px) {

    .swiper_slide{
        flex-direction: row;
        height: auto;
    }

    .swiper_slide img{
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .swiper_text{
        gap: .5rem;
        padding: 2rem 3rem 2rem 1rem;
        justify-content: start;
        height: 400px;
    }

    .swiper_text h4{
        font-size: 18px;
    }

    .swiper_slide p{
        font-size: 14px;
    }

    .swiper_type{
        gap: .2rem;
    }

    .swiper_subtext{
        gap: .2rem;
    }
}

@media screen and (min-width: 1920px) {
    .swiper_text{
        gap: 1rem;
        height: 430px;
    }

    .swiper_type{
        gap: .5rem;
    }

    .swiper_subtext{
        gap: .5rem;
    }
    
}