.footer_container{
    width: 100vw;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--gray-primary-color);
}

.footer_container img{
    width: 150px;
}

.footer_line{
    width: 60%;
    height: 1px;
    background-color: var(--gray-secondary-color);
}

.footer_container h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--gold-color);
}

.footer_container a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--black-primary-color);
    cursor: pointer;
}

.footer_container a:hover{
    color: var(--gold-color);
    text-decoration: underline;
}

.links_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.copyright_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.copyright_container p{
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-secondary-color);
}

.credits{
    font-size: 12px;
}

.credits a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: var(--gold-color);
    cursor: pointer;
}

.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .footer_container{
    padding: 3% 5% 2% 5%;
        gap: 1.5rem;
    }

    .footer_container a{
        font-size: 16px;
    }

    .content_container{
        gap: 1rem;
    }

    .content_container div {
        flex: 1;
    }

    .logo_container .footer_line{
         flex: auto;
    }

    .links_container{
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .footer_line{
        width: 40%;
    }

    .copyright_container p{
        font-size: 12px;
    }

    .credits{
        font-size: 14px;
    }

    .credits a{
        font-size: 14px;
    }

    .redes_sociais {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .icone {
        background-color: var(--gray-secondary-color);
        border-radius: 50%;
        padding: 5px;
        font-size: 30px;
        color: var(--white-primary-color);
        transition: transform 0.2s, color 0.2s;
    }
    
    .icone:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1920px) {
    .footer_container{
        gap: 1.5rem;
    }

    .content_container{
        gap: 2rem;
    }

    .links_container{
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .footer_line{
        width: 40%;
    }

    .copyright_container p{
        font-size: 12px;
    }

    .credits{
        font-size: 16px;
    }

    .credits a{
        font-size: 16px;
    }

    .redes_sociais {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .icone {
        background-color: var(--gray-secondary-color);
        border-radius: 50%;
        padding: 5px;
        font-size: 30px;
        color: var(--white-primary-color);
        transition: transform 0.2s, color 0.2s;
    }
    
    .icone:hover {
        transform: scale(1.1);
    }
}


