.swiper_slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: grab;
}


.clickable_image {
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Estilos do modal */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    position: relative;
    background: white;
    border-radius: 5px;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content:focus-visible {
    outline: none;
}

.modal_content img {
    max-width: 100%;
    height: 80vh;
    border-radius: 5px;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 1.2rem;
    transition: background 0.3s ease-in-out;
  }
  
  .close_button span {
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--gold-color);
    border-radius: 3px;
    transition: background 0.3s ease-in-out;
  }
  
  .close_button span:first-child {
    transform: rotate(45deg);
  }
  
  .close_button span:last-child {
    transform: rotate(-45deg);
  }

  .close_button:hover {
    background: var(--gold-color);
  }
  
  .close_button:hover span {
    background: var(--white-primary-color);
  }

@media screen and (min-width: 1024px) {
    .swiper_container {
        width: 43vw;
    }

    .close_button{
        top: 1px;
    }

    .modal_content img{
        height: 100vh;
    }
}

@media screen and (min-width: 1920px) {
    .modal_content img{
        width: 100%;
        height: 95vh;
    }

    .close_button{
        top: 10px;
    }
}