/* swiperHome.module.css */
.swiper_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 3rem;
    cursor: grab;
}

.swiper_slide h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--black-primary-color);
    cursor: pointer;
}

.swiper_slide span {
    color: var(--gold-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

.swiper_slide p {
    font-size: 16px;
}

/* Adicionando um container para manter os slides e a divisória alinhados */
.swiper_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal_content {
    background: var(--white-primary-color);
    padding: 3rem 2rem 2rem 2rem;
    width: 85%;
    border-radius: 5px;
    border: none;
    position: relative;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .modal_content:focus-visible {
    outline: none;
  }

  .line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--gold-color);
    border-radius: 5px 5px 0 0;
  }

  .modal_content h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-primary-color);
    border-bottom: 2px solid var(--gold-color);
    align-self: start;
  }

  .modal_text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .modal_text p {
    font-size: 12px;
  }
  
  .close_button {
    position: absolute;
    top: 5px;
    right: 15px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--white-primary-color);
  }
  
  .read_more {
    cursor: pointer;
    color: var(--gold-color);
    transition: color 0.3s;
  }
  
  .read_more:hover {
    color: var(--black-primary-color);
  }
  
  /* Animação */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@media screen and (min-width: 1024px) {
    .swiper_text {
        padding: 3rem;
    }

    .modal_content{
        width: 40%;
        padding: 5rem 2rem 5rem 2rem;
    }

    .swiper_slide p{
        font-size: 14px;
    }

    .swiper_slide h4{
        font-size: 18px;
    }
}
