.section_one {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: all .3s ease-in-out;
    color: var(--black-primary-color);
}

.title h1 {
    font-size: 24px;
    text-align: start;
    width: 100%;
    font-weight: 700;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
}

.title .span_h1 {
    color: var(--gold-color);
}

.title h2 {
    color: var(--gray-secondary-color);
    width: 100%;
    font-size: 24px;
    text-align: start;
    font-weight: 600;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
}

.title p {
    font-size: 20px;
    text-align: start;
    width: 100%;
    font-weight: 400;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
}

.title .span_p {
    font-weight: bold;
}

.title button {
    width: 60%;
    padding: .6rem 2rem;
    border: 1px solid var(--gold-color);
    /* Primeira borda */
    background-color: var(--gold-color);
    color: var(--white-primary-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.title button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid var(--gold-color);
    /* Segunda borda */
}

.title button:hover {
    background-color: var(--white-primary-color);
    color: var(--gold-color);
}

.text_ver_mais {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.text_ver_mais.ativo {
    max-height: 1500px;
    opacity: 1;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.imagem img {
    width: 100%;
    max-width: 400px;
}

.redes_sociais {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone {
    background-color: var(--gray-secondary-color);
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    color: var(--white-primary-color);
    transition: transform 0.2s, color 0.2s;
}

.icone:hover {
    transform: scale(1.1);
}

/* Notebooks e desktops pequenos (a partir de 1024px) */
@media screen and (min-width: 1024px) {
    .section_one {
        flex-direction: row;
        height: 100vh;
    }
    .title {
        align-items: flex-start;
        gap: .8rem;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 24px;
    }

    .title p {
        font-size: 16px;
    }

    .text_ver_mais{
        gap: .5rem;
    }

    .title button {
        width: 20%;
    }

    .imagem {
        width: 75%;
    }

    .imagem img {
        width: 100%;
    }

    .redes_sociais {
        justify-content: flex-end;
        gap: 1rem;
        margin: 0 5% 0 0;
    }
}

/* Monitores 2K e superiores (a partir de 1920px) */
@media screen and (min-width: 1920px) {
    .title h1 {
        font-size: 36px;
    }

    .title h2 {
        font-size: 30px;
    }

    .title p {
        font-size: 18px;
    }

    .title button {
        width: 15%;
    }

    .imagem {
        width: 70%;
    }
}
